!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
  %body
    %h1 スケジュールの通知
    %p 次のスケジュールが近づいています：
    %p タイトル: #{@schedule.title}
    %p 開始時間: #{@schedule.start_time}
    = image_tag attachments['Kai.png'].url
